alias my_commit="git add .; git pull; git commit -am 'automated commit'; git push;"
alias myup="cd ~/Homebrew; brew bundle dump -f; my_commit; cd -; cd ~/Vim; my_commit; cd -; cd ~/Zsh; my_commit; cd -;"
